.App {
  text-align: center;
}

.InputOutputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.5em;
  border: 1px solid;
  padding: 0.8em;
  border-radius: 0.7em;
  background-color: lightblue;
  max-width: 15%;
  align-content: center;
}
.Input {
  flex: 1;
  max-width: 50%;
}

.Output {
  font-weight: bold;
  flex: 2;
}